body {
  margin: 0;
  font-family: 'Josefin Sans';
  height: 100vh;
  align-items: center;
}

parent {
  overflow: scroll;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  text-align: center;
  scroll-snap-align: start;
}
.light {
  background: white;
  color: #4e4646;
  position: relative;
}
.dark {
  background: #4e4646;
  color: white;
  position: relative;
}

.slide {
  width: 50%;
  height: 100vh;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  right: 0;
  top: 0;
  z-index: 0;
}

.outer {
  position: relative;
}
.heading {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 50%; left: 50%;
  transform: translate(-50%,-80%);
  z-index: 5;
}

.heading h1 {
  font-size: 5em;
  color: #4e4646;
  text-align: center;
}

.content {
  padding: 9em 5em;
  z-index: 1;
  position: relative;
  width: 40%;
}

.content h2 {
  font-size: 5em;
  margin-bottom: 0;
}

.content p {
  font-size: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
}

.icon-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed for spacing */
  max-width: 10vw;
  align-items: center;
  margin: 0 auto;
}

/* Button */
.button-56 {
  margin: 0 auto;
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

/*-------------------------------------------------------------------------------------*/

.scroller {
  height: 300px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
