body {
  margin: 0;
  font-family: 'Josefin Sans';
  height: 100vh;
  align-items: center;
}

section {
  height: 100vh;
  text-align: center;
}

.box {
  background: red;
  width: 200px;
  height: 200px;
}

.dark {
  text-align: left;
  background: #4e4646;
  color: white;
  position: relative;
}

.slide {
  width: 50%;
  height: 100vh;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  right: 0;
  top: 0;
  z-index: 0;
}

.heading {
  padding: 9em 5em;
  position: relative;
}

.heading h1 {
  font-size: 5em;
  color: #4e4646;
}

.content {
  padding: 9em 5em;
  z-index: 1;
  position: relative;
  width: 40%;
}

.content h2 {
  font-size: 5em;
  margin-bottom: 0;
}

.content p {
  font-size: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
}

.icon-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed for spacing */
  max-width: 30vh;
  align-items: center;
  margin: 0 auto;
}